// src/css/variables.scss

$primary: #e50914; // Vermelho Netflix
$secondary: #b3b3b3; // Texto secundário
$accent: #e50914;

$dark: #121212; // Fundo principal
$background: #1f1f1f; // Cards e componentes
$text: #ffffff; // Texto principal
$text-secondary: #b3b3b3;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
